<div class="col-md-12 col-lg-10 col-xl-8">
<div class="card p-2">
        <h5> User.name </h5>
        <time> <%= comment.created_at.strftime("%d-%m-%Y %H:%M:%S") %> </time>
        <p> <%= comment.body %> </p>
        
        <p> <%= link_to 'Delete', book_comment_path(@book, comment), 
        data: { method: :delete, confirm: "Are you sure?" },
        class: 'btn btn-danger btn-sm' %> </p>
</div>
</div>