    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                height="40" />
              <div class="form-outline w-100">
                  <%= form_with model: @comment do |form| %>
                    <%= form.text_area :body, size: "30x5" %>
                    <%= form.submit %>
                  <% end %>
              </div>
            </div>
            <div class="float-end mt-2 pt-1">
              <%= button_to "Post comment", book_comments_path(book_id: @book.id) %>
              <button type="button" class="btn btn-primary btn-sm">Post comment</button>
              <button type="button" class="btn btn-outline-primary btn-sm">Cancel</button>
            </div>
        </div>    