    <div class="card-footer py-3 border-0" style="background-color: #f8f9fa;">
            <div class="d-flex flex-start w-100">
              <img class="rounded-circle shadow-1-strong me-3"
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(19).webp" alt="avatar" width="40"
                height="40" />
              <div class="form-outline w-100">
                  <%= form_with model: [@book, @comment] do |form| %>
                    <%= form.text_area :body, size: "50x5" %>
                    <p> <%= form.submit 'Post comment', class: "btn btn-primary btn-sm" %> </p>
                  <% end %>
              </div>
            </div>
        </div>    