<div style="padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)">
  <h1> Вітамо на україньському порталі! </h1>
  <%= image_tag("biblio_10.jpg", :alt => "rss feed") %>
</div>