<div class='container my-5'>
    <div class='row'> <h1 class="text-center"> All books </h1> 
    </div>
    <div class='row'>
        <div class='col-md-2 text-center'> 
            <h3 class="text-center"> Category </h3> 
            <% Category.all.each do |category| %>
                <p> <%= link_to category.name, category %> </p>
            <%end%>
        </div>
        
            <div class='col-md-10'>
                <div class='row'>
                    <% @books.each do |book| %> 
                        <%= render partial: "books/cardbook", locals: { book: book } %>
                    <% end %> 
                </div>  
            </div> 
    </div>
</div>
