<h1> My favorite books: </h1>
<% if @favorite_books.any? %>
  <% @favorite_books.each do |book| %>
    <p> <%= Book.find(book.book_id).name %> </p>
  <% end %>
<% else %>
  <h3> You don`t have favorite books </h3>
<% end %>