<% arr = Array.new(@favo_books_global.size) %>
<% @favo_books_global.each do |favorite_book| %>
  <% arr << favorite_book.book.id %>
<% end %>
<% arr.compact.uniq.each do |i| %>
  <p> Book <%= Book.find(i).name %> likes: <%= arr.count(i) %> </p>
<% end %>
